.self_button_1 {
  :global {
    .ant-btn-ghost {
      color: #777;
      background-color: #f2f3f5;
      border-color: #f2f3f5;
    }
  }
}

.self_button_2 {
  :global {
    .ant-btn-primary {
      color: #1c6de8;
      // #E8F3FF
      background-color: #e8f3ff;
      border-color: #e8f3ff;
    }
  }
}

.self_button_3 {
  :global {
    .ant-btn-ghost {
      color: #777;
      background-color: #f2f3f5;
      border-color: #f2f3f5;
    }
  }
}

.table_wrapper {
  height: 100%;
  // padding-right: 6px;
  overflow: hidden;
}

.table_wrapper::-webkit-scrollbar {
  z-index: 300;
  width: 6px;
  height: 6px;
  // display: none;
}

.table_wrapper:hover {
  // padding-right: 0px;
  overflow-y: auto;
}

.table_wrapper::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 8px 0 0 #a5adb7 inset;
}

.table_wrapper::-webkit-scrollbar-track {
  background: transparent;
}
