.edtiTbleList {
  :global {
    .ant-pro-card-body {
      display: block;
      box-sizing: border-box;
      height: 100%;
      padding: 0px;
    }
    .ant-row {
      // width: 90% !important;
      width: 100% !important;

    }
  }
}


.spinCss {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  border-radius: 4px;
}

.cardAffix {
  display: flex;
  position: absolute;
  z-index: 12;
  justify-content: flex-end;
  border-top: 1px solid rgba(240, 240, 240, 1);
  padding: 16px;
  background: white;
  height: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  .card-affix-primary {
    position: absolute;
    padding: 0 16px;
    height: 64px;
    right: 0;
    top: 0;
    text-align: right;
    display: flex;
    align-items: center;
  }
}

.row_label {
  :global {
    .ant-row {
      width: 90% !important;
    }

    @media (max-width: 575px) {
      .ant-form-item-label {
        flex: 0 0 100% !important;
      }
    }

    .ant-form-item-label>label {
      height: auto !important;
      // word-spacing: normal;
      white-space: normal;

    }
  }
}

.webroot {
  .area-mb {
    margin-bottom: 12px;
  }

  .area-mt {
    margin-top: 12px;
  }

  .area-ml {
    margin-left: 12px;
  }

  .area-mr {
    margin-right: 12px;
  }

  .area-mb-large {
    margin-bottom: 20px;
  }

  .area-mt-large {
    margin-top: 20px;
  }

  .area-ml-large {
    margin-left: 20px;
  }

  .area-mr-large {
    margin-right: 20px;
  }

  .area-pad {
    padding: 16px;
  }

  //标准间距
  .wb-standard-margin {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }

  //超级间距
  .wb-super-margin {
    width: 72%;
    margin-left: auto;
    margin-right: auto;
  }

  .unset-mb {
    margin-bottom: unset
  }

  .unset-mt {
    margin-top: unset
  }

  .wb-fit-screen {
    height: 100%
  }

  .flex-hc {
    justify-content: center
  }

  .flex-hr {
    justify-content: flex-end
  }
}